[program:{{ item.name }}]
command={{ item.command | default(supervisor_program_defaults.command) }}
process_name={{ item.process_name | default(supervisor_program_defaults.process_name) }}
numprocs={{ item.numprocs | default(supervisor_program_defaults.numprocs) }}
{% if item.directory is defined %}directory={{ item.directory | default(supervisor_program_defaults.directory) }}{% endif %}
priority={{ item.priority | default(supervisor_program_defaults.priority) }}
autostart={{ item.autostart | default(supervisor_program_defaults.autostart) }}
autorestart={{ item.autorestart | default(supervisor_program_defaults.autorestart) }}
{% if item.user is defined %}user={{ item.user | default(supervisor_program_defaults.user) }}{% endif %}

stdout_logfile={{ item.logs.stdout.directory | default(supervisor_program_defaults.logs.stdout.directory) }}/{{ item.logs.stdout.filename | default(supervisor_program_defaults.logs.stdout.filename) }}
stdout_logfile_maxbytes={{ item.logs.stdout.maxbytes | default(supervisor_program_defaults.logs.stdout.maxbytes) }}
stdout_logfile_backups={{ item.logs.stdout.backups | default(supervisor_program_defaults.logs.stdout.backups) }}

redirect_stderr={{ item.logs.stderr.redirect | default(supervisor_program_defaults.logs.stderr.redirect) }}
stderr_logfile={{ item.logs.stderr.directory | default(supervisor_program_defaults.logs.stderr.directory) }}/{{ item.logs.stderr.filename | default(supervisor_program_defaults.logs.stderr.filename) }}
stderr_logfile_maxbytes={{ item.logs.stderr.maxbytes | default(supervisor_program_defaults.logs.stderr.maxbytes) }}
stderr_logfile_backups={{ item.logs.stderr.backups | default(supervisor_program_defaults.logs.stderr.backups) }}
