{
	"bitbucket-oauth": {
		"bitbucket.org": {
			"consumer-key": "{{ composer_auth.bitbucket.consumer_key }}",
			"consumer-secret": "{{ composer_auth.bitbucket.consumer_secret }}"
		}
	},
    "github-oauth": {
        "github.com": "{{ composer_auth.github.token }}"
    }
}
