<VirtualHost *:{{ httpd_port }}>

	ServerName {{ item.domain }}
	ServerAdmin admin@{{ item.domain }}

	ErrorLog {{ httpd_logs }}/{{ item.domain }}/error.log
	CustomLog {{ httpd_logs }}/{{ item.domain }}/access.log combined

	DocumentRoot {{ item.documentroot }}

	<Directory {{ item.documentroot }}>
		AllowOverride All
		Require all granted
	</Directory>

</VirtualHost>
